# ===== IntelliJ IDEA / IDEs =====
.idea/
*.iml
out/

# ===== Maven =====
target/

# ===== Compilados =====
*.class

# ===== Logs =====
*.log

# ===== Sistema Operacional =====
.DS_Store
Thumbs.db

# ===== Arquivos temporários =====
*.tmp
*.bak
